<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{static.styles/create_project.css}">
</head>
<body>

<header>
    <h1>Create New Project</h1>
</header>

<main>
    <div class="flex-container">
        <section id="create_project_form">

            <form action="/create-project" method="post">

                <div class="title_section">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" placeholder="Title" required>
                </div>

                <div class="project_password">
                    <label for="project_password">Password</label>
                    <input type="text" id="project_password" name="project_password" placeholder="Password" required>
                </div>

                <button type="submit">Create Project</button>
                <p><a href="/index"><button>Go back</button></a></p>

            </form>
        </section>
    </div>
</main>


</body>
</html>