<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

    <header>
        <h1>Welcome to Projectmanager</h1>
    </header>

    <main>
        <h2><a href="/skriv link til side"><button>Create Projectmanager</button></a></h2>
        <h2><a href="/skriv link til side"><button>Login as Projectmanager</button></a></h2>
        <h2><a href="/skriv link til side"><button>Login to project as participant</button></a></h2>
    </main>

</body>
</html>