<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/login_create.css}">
    <meta charset="UTF-8">
    <title>Participant Login</title>
</head>
<body>

<header th:replace="fragments/header.html"></header>
    <main>
        <h1>Login As Participant</h1>
        <div class="flex-container">
        <section id="participant_login">
            <form action ="/join-project" method="post">
                <div class="participants_id">
                    <label for="participant_id">User ID</label>
                    <input type="text" id="participant_id" name="participant_id" placeholder="id" required>
                </div>
                <div class="participants_password">
                    <label for="participant_password">Password</label>
                    <input type="text" id="participant_password" name="participant_password" placeholder="Password" required>
                </div>

                <p th:text="${Exception}"></p>


                <button type="submit">Login</button>

            </form>
            <p><a href="/index"><button>Go back</button></a></p>
        </section>
        </div>
    </main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>