<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Participant Login</title>
</head>
<body>

    <header>Login As Participant</header>

    <main>
        <section id="participant_login">
            <form action="/participant_login">
                <div class="participants_id">
                    <label for="participant_id"></label>
                    <input type="text" id="participant_id" name="participant_id" placeholder="id" required>
                </div>
                <div class="participants_password">
                    <label for="participant_password"></label>
                    <input type="text" id="participant_password" name="participant_password" placeholder="Password" required>
                </div>

                <button type="submit">Login</button>
                <p><a href="/index"><button>Go back</button></a></p>

            </form>
        </section>
    </main>

</body>
</html>