<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static.styles/login_create.css">
    <title>Dashboard</title>
</head>
<body>
<div class="flex-container">
    <form action="/direct_project_page" method="post">
    <ul th:each="projects : ${projects}">
        <li th:text="${projects.getTitle}"></li>
        <button type="submit" value="${projects.getTitle}" name="projectTitle">Push it</button>
    </ul>
    </form>
</div>
</body>
</html>