<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{static.styles/project_page.css}">
    <title th:text="${session.projectTitle}">Project</title>
</head>
<body>
<div class="left">
    <div class="participant" th:replace="fragments/participant.html">
    </div>

    <div class="implementing">
        <div class="project_options">
            <button type="submit">Completed</button>
            <button type="submit">Delete</button>
            <button type="submit">Edit</button>
            <button type="submit">Quit project</button>
            <p><a href="/index"><button>Go back</button></a></p>
        </div>
        <div class="About">
            <button type="submit">About</button>
            <button type="submit">Participants</button>
        </div>

    </div>
</div>


    <div class="gannt">

    </div>

</body>
</html>