<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="../static/login_create.css">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<main>
    <section class="current_projects">
        <p th:text="${projectManager.getId}"></p>


        <ul th:each="projects : ${projects}">
            <li th:text="${projects.getTitle}"></li>
        </ul>

        <div class="select_cur_project">
            <div class="department_section">
            <label for="department">Department</label>
            <input type="text" id="department" name="department" placeholder="Department" required>
            </div>
        </div>
    </section>
        <p><a href="/index"><button>Go back</button></a></p>



</main>
</body>
</html>