<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/login_create.css}">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<header th:replace="fragments/header.html"></header>
<main>
    <section class="current_projects">
        <p th:text="${projectManager.getId}"></p>

        <form action="/direct_project_page" method="POST">
            <ul th:each="project : ${projects}">
                <li><button type="submit" th:value="${project.getTitle()}" name="project_title"><p th:text="${project.getTitle()}"></p></button></li>
            </ul>
        </form>


        <div class="select_cur_project">
            <div class="department_section">
            <label for="department">Department</label>
            <input type="text" id="department" name="department" placeholder="Department" required>
            </div>
        </div>
    </section>
        <p><a href="/index"><button>Go back</button></a></p>



</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>