<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/login_create.css}">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<main>
    <section class="current_projects">
        <p th:text="${projectManager.getId}"></p>

        <form action="/direct_project_page" method="POST">
            <ul th:each="project : ${projects}">
                <li><button type="submit" th:value="${project.getTitle()}" name="project_title"><p th:text="${project.getTitle()}"></p></button></li>
            </ul>
        </form>

        <div>
            <label for="chosen_department">To department:</label>
            <select name="chosen_department" id="chosen_department">
                <option value="COPENHAGEN">COPENHAGEN</option>
                <option value="OSLO">OSLO</option>
                <option value="NEW YORK">NEW YORK</option>
                <option value="DALLAS">DALLAS</option>
                <option value="LOS ANGELES">LOS ANGELES</option>
            </select>
        </div>
    </section>
        <p><a href="/index"><button>Go back</button></a></p>



</main>
</body>
</html>